<div id="about">
  <div class="col-xs-8" id="summary">
    <p>Hi &#58;&#41; My name is Kent. Welcome to my site. Please take a look at my work by clicking on the pics below. I enjoy building fullstack apps using the PERN stack. I love using JavaScript technologies. When I'm not coding, you'll likely find me doing other really fun stuff like lifting weights, hiking, playing the piano, or spending time with friends and family.</p>

    <hr>

    <p style="font-size: 25px; text-align: center">Web Developer</p>

    <p>...looking for junior positions, internships, and anything related to Web Development</p>
  </div>
  <div class="col-xs-4" id="img-div">
    <img src="/images/osianduncle.JPG" class="about-img img-responsive center-block img-circle">
  </div>
</div>
