<div id="contact">
  <div id="contact-title">
    <h1>Contact Me</h1>
  </div>

  <% if (messages.error) { %>
    <% messages.error.forEach((err) => { %>
      <div id="errors">
        <ul>
          <li><%= `${err.param} ${err.msg}`%></li>
        </ul>
      </div>
    <% }) %>
  <% }%>

  <div id="contact-main">
    <div id="contact-form">
      <form method="POST" action="/sendEmail">
        <div class="form-group">
          <label for="name" hidden>Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>

        <div class="form-group">
          <label for="company" hidden>Company</label>
          <input type="text" class="form-control" id="company" placeholder="Company" name="company">
        </div>

        <div class="form-group">
          <label for="email" hidden>Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>

        <div class="form-group">
          <label for="phone" hidden>Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
        </div>

        <div>
          <label for="subject" hidden>Subject</label>
          <input type="text" class="form-control" id="subject" placeholder="subject" name="subject">
        </div>

        <div class="form-group">
          <label for="message" hidden>Message</label>
          <textarea class="form-control" id="message" rows="10" placeholder="Your Message Here" name="message"></textarea>
        </div>

        <button type="submit">Submit</button>
        <p id="sendgrid-msg">This form was created using <a href="https://sendgrid.com/" target="_blank">SendGrid</a> as a Heroku addon</p>
      </form>
    </div>

    <div id="contact-paragraph">
      <div>
        <p>Hi There. Thank you for visiting. If you'd like to contact me, fill out the form and I'll respond as soon as I can.</p>
        <p>I hope you have a blessed day &#58;&#41;</p>
      </div>
    </div>
  </div>
</div>
