<div id="contact">
  <div id="contact-title">
    <h1>Contact Me</h1>
  </div>

  <div id="contact-main">
    <div id="contact-form">
      <form>
        <div class="form-group">
          <label for="name" hidden>Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email-address" hidden>Email Address</label>
          <input type="email" class="form-control" id="email-address" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="phone" hidden>Phone Number</label>
          <input type="tel" class="form-control" id="phone" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <label for="msg" hidden>Message</label>
          <textarea class="form-control" id="msg" rows="10" placeholder="Your Message Here"></textarea>
        </div>
        <input type="button" value="Submit">
      </form>
    </div>

    <div id="contact-paragraph">
      <div>
        <p>Hi There. Thank you for visiting. Would you like to contact me? If you would like to speak with me because you like my portfolio, then feel free to fill out the form and I'll respond as soon as I can.</p>
        <p>I hope you have a blessed day &#58;&#41;</p>
      </div>
    </div>
  </div>
</div>
