<div id="learn-more-author">
  <p>This page was created by Kent Saeteurn</p>
</div>

<div id="learn-more-links">
  <h7>Want to learn more about me?</h7>
  <p>Here are my other profiles: <a href="https://www.linkedin.com/in/kentsaeteurn/" target="_blank"> LinkedIn</a>, <a href="https://github.com/sansae" target="_blank">GitHub</a>, <a href="https://www.freecodecamp.org/sansae" target="_blank">freeCodeCamp</a>, <a href="https://codepen.io/kesa/" target="_blank">CodePen</a>, <a href="https://www.codewars.com/users/sansae/completed" target="_blank">codeWars</a>.</p>
</div>
