<div id="portfolio">
  <div id="portfolio-title">
    <h1>Projects</h1>
  </div>

  <div id="portfolio-links">
    <div class="row">
      <div>
        <a href="https://codepen.io/kesa/full/PExbGz/" target="_blank">
          <img src="/images/calculator.png" class="img-responsive center-block portfolio-img">
        </a>
      </div>
      <div>
        <a href="http://bloc-jams-react-kesa.herokuapp.com/" target="_blank">
          <img src="/images/blocJams.png" class="img-responsive center-block portfolio-img">
        </a>
      </div>
    </div>

    <div class="row">
      <div>
        <a href="https://codepen.io/kesa/full/NAJEYO/" target="_blank">
          <img src="/images/wikiViewer.png" class="img-responsive center-block portfolio-img">
        </a>
      </div>
      <div>
        <a href="https://message-bored.herokuapp.com/" target="_blank">
          <img src="/images/messageBored.png" class="img-responsive center-block portfolio-img">
        </a>
      </div>
    </div>
  </div>
</div>
