body {
  background: grey;
}

nav {
  display: flex;
  width: 100%;
}

.navbar {
  position: fixed;
}

#brand {
  flex-grow: 8;
}

#brand a {
  font-size: 20px;
  margin-left: 10px;
}

.links {
  justify-content: flex-end;
}

.links .navbar-nav .nav-item .nav-link {
  color: white;
  font-size:5px;
}

#about, #contact {
  border-left: 4px solid lightgrey;
  border-right: 4px solid lightgrey;
}

.navbar-custom {
  background: brown;
}

#about {
  background-color: grey;
  padding: 40px 40px 70px 40px;
  font-size: 18px;
  color: black;
  display: flex;
  text-align: center;
}

#summary {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
}

#summary p:first-child {
  margin-left: 10px;
  margin-right: 10px;
}

#img-div {
  margin-top: 120px;
  margin-bottom: 60px;
  border-radius: 50%;
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 900px;
}

.about-img {
  width: 60%;
}

hr {
  width: 80%;
  height: 2.5px;
  background: #fff;
  border-color: black;
  background-color: black;
}

#portfolio {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding-top: 50px;
  padding-bottom: 90px;

}

#portfolio-title, #contact-title {
  text-align:center
}

#portfolio-links .row {
  margin: 15px 0px;
  justify-content: space-around;
}

.portfolio-img {
  width: 330px;
  height: 300px;
}


#contact {
  background-color:grey;
  color: black;
  padding-top: 60px;
  padding-bottom: 70px;
}

#contact-main {
  display: flex;
}

#contact-form {
  flex-grow: 2;
  margin-left: 60px;
  margin-right: 40px;
  padding-top: 40px;
  width: 200px;
}

#contact-paragraph {
  margin-right: 30px;
  padding-top: 40px;
  font-size: 18px;
  width: 200px;
  flex-grow: 2;
}

#contact-paragraph div {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#learn-more {
  background-color: lightgrey;
  display: flex;
  height: 140px;
}

#learn-more-author {
  font-size: 12px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#learn-more-author > p {
  margin-top: 5px;
}

#learn-more div:nth-child(2) {
  width: 300px;
  flex-direction: column;
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#learn-more-links h7 {
  margin-top: 15px;
}

#learn-more-links > p {
  font-size: 12px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.site-footer {
  background: brown;
  height: 80px;
}

.site-footer, #learn-more {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #portfolio-links {
    text-align: center;
    margin-top: 20px;
  }

  #portfolio-links > div:first-child {
    margin-bottom: -15px;
  }

  #portfolio-links .row div {
    margin-bottom: 35px;
  }

  #portfolio-links .row:nth-child(2) {
    margin-bottom: -30px;
  }

  .portfolio-img {
    width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  #about {
    display: flex;
    flex-direction: column;
  }

  #summary > p:first-child {
    order: 3;
    margin-top: 20px;
  }

  #summary > hr {
    order: 2;
  }

  #summary p:nth-child(n + 3) {
    order: 1;
  }

  #summary {
    order: 2;
  }

  #img-div {
    width: 100%;
    order: 1;
    margin-bottom: -20px;
  }

  #contact-main {
    display: flex;
    flex-direction: column;
  }

  #contact-form {
    width: 80%;
    order: 2;
    margin: 0 auto;
  }

  #contact-paragraph {
    width: 80%;
    order: 1;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 540px) {
  #learn-more {
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  #learn-more-author {
    /*border: 2px solid red;*/
    order: 2;
    /*margin-top: 30px;*/
  }

  #learn-more-links {
    /*border: 2px solid blue;*/
    margin: 0 auto;
    order: 1;
  }
}
