<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>

    <main class="container">
      <div id="about">
        <div class="col-xs-8" id="summary">
          <p>Hi &#58;&#41; My name is Kent. Welcome to my site. If you would like to see some of my work, click on the pics below. I am currently building fullstack apps using the MERN stack. I love using JavaScript and React. When I'm not coding, you'll likely find me doing other really fun stuff like lifting weights, hiking, playing the piano, or spending time with friends and family.</p>

          <hr>

          <p style="font-size: 25px; text-align: center">Web Developer</p>

          <p>...looking for junior positions, internships, and anything related to Web Development</p>
        </div>
        <div class="col-xs-4" id="img-div">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Stick_Figure.svg/2000px-Stick_Figure.svg.png" class="about-img img-responsive center-block img-circle">
        </div>
      </div>

      <div id="portfolio">
        <div id="portfolio-title">
          <h1>Projects</h1>
        </div>

        <div id="portfolio-links">
          <div class="row">
            <div>
              <img src="https://www.cjb-i.co.uk/wp-content/uploads/simulation.jpg" class="img-responsive center-block portfolio-img">
            </div>
            <div>
              <img src="https://www.cjb-i.co.uk/wp-content/uploads/simulation.jpg" class="img-responsive center-block portfolio-img">
            </div>
          </div>

          <div class="row">
            <div>
              <img src="https://www.cjb-i.co.uk/wp-content/uploads/simulation.jpg" class="img-responsive center-block portfolio-img">
            </div>
            <div>
              <img src="https://www.cjb-i.co.uk/wp-content/uploads/simulation.jpg" class="img-responsive center-block portfolio-img">
            </div>
          </div>
        </div>
      </div>

      <div id="contact">
        <div id="contact-title">
          <h1>Contact Me</h1>
        </div>

        <div id="contact-main">
          <div id="contact-form">
            <form>
              <div class="form-group">
                <label for="name" hidden>Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="email-address" hidden>Email Address</label>
                <input type="email" class="form-control" id="email-address" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="phone" hidden>Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label for="msg" hidden>Message</label>
                <textarea class="form-control" id="msg" rows="10" placeholder="Your Message Here"></textarea>
              </div>
              <input type="button" value="Submit">
            </form>
          </div>

          <div id="contact-paragraph">
            <div>
              <p>Hi There. Thank you for visiting. Would you like to contact me? If you want to hire me for a job and/or internship because you like my portfolio, then feel free to fill out the form and I'll respond as soon as I can.</p>
              <p>I hope you have a blessed day &#58;&#41;</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <section id="learn-more">
      <div id="learn-more-author">
        <p>This page was created by <a href="https://codepen.io/" target="_blank">Kent</a></p>
      </div>

      <div id="learn-more-links">
        <h7>Want to learn more about me?</h7>
        <p>Check out my other social media pages by clicking on <a href="https://www.linkedin.com/" target="_blank"> linkedin</a> and <a href="https://github.com/" target="_blank">github</a>.</p>
      </div>
    </section>

    <footer class="text-center site-footer">
    </footer>
  </body>
</html>
