<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body onload="<%= messages.error ? 'scrollToMessages()' : '' %>">

    <% include ./partials/navbar.ejs %>

    <main class="container">
      <% include ./partials/about.ejs %>

      <% include ./partials/portfolio.ejs %>

      <% include ./partials/contact.ejs %>
    </main>

    <section id="learn-more">
      <% include ./partials/learn-more.ejs %>
    </section>

    <footer class="text-center site-footer">
    </footer>
  </body>
</html>
